@import "tailwindcss";

:root {
  --text: #f8fafc; /* Light text color */
  --background: #1c1f2b; /* Dark background color */
  --background-dark: #151820; /* Dark variant for background color */
  --primary: #009fb8; /* Primary accent color */
  --secondary: #afb5c0; /* Secondary color for UI elements */
  --accent: #5d6cc0; /* Accent color for highlights */
}

/* For using as tailwind classes. E.g font-primary, bg-text, text-secondary, bg-background-dark etc. */
@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-primary: var(--font-roboto);
}

/* SCROLL BAR STYLE */
body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}
